In [3]:
from transformers import Trainer, BartTokenizer

In [4]:
import pandas as pd
import numpy as np

In [21]:
def clean_text(text):
    text = text.replace("<br/>", "")
    text = text.replace("<br>", "")
    text = text.repace("\xa0", "")
    text = text.replace("•", "")
    text = text.replace("&#39;", "'")
    text = text.replace(" +", " ")
    text = text.replace("\n", "")
    clean_exprs = ["HEIGHT OF MODEL", "height of model", "model height", "MODEL HEIGHT", "Contains: "]
    for expr in clean_exprs:
        if expr in text:
            text = text[:text.find(expr)]
    return text

In [5]:
def clean_text(text):
    text = text.replace("<br/>", "")
    text = text.replace("<br>", "")
    text = text.replace("\xa0", "")
    text = text.replace("•", "")
    text = text.replace("&#39;", "'")
    text = text.replace("\n", "")
    clean_exprs = [
        "HEIGHT OF MODEL",
        "height of model",
        "model height",
        "MODEL HEIGHT",
        "Contains: ",
        "Heel height",
        "Sole height",
        "Height of sole",
        "Height x Length x Width",
        "WARNING",
    ]
    for expr in clean_exprs:
        if expr in text:
            text = text[: text.find(expr)]
    text = text.replace(" +", " ")
    return text

In [6]:
df = pd.read_csv("../train.csv")

In [7]:
test = pd.read_csv("../test_descriptions.csv")

In [8]:
test["description"] = test["description"].apply(clean_text)

In [9]:
df.head()

,name,description
0,CROPPED JACKET TRF,Jacket made of a technical fabric with texture...
1,OVERSIZED SHIRT WITH POCKET TRF,Oversized long sleeve shirt with a round colla...
2,TECHNICAL TROUSERS TRF,High-waist trousers with a matching elastic wa...
3,SHIRT DRESS,Collared dress featuring sleeves falling below...
4,PUFF SLEEVE DRESS WITH PLEATS TRF,Loose-fitting midi dress with a round neckline...

In [10]:
df["description"] = df["description"].apply(clean_text)

In [11]:
descriptions = df["description"].tolist()

In [ ]:
tokenizer = BartTokenizer.from_pretrained("facebook/bart-large")

In [43]:
encoded = tokenizer.batch_encode_plus(descriptions)

In [56]:
encoded_test = tokenizer.batch_encode_plus(test["description"].tolist())["input_ids"]

In [44]:
encoded_ids = encoded["input_ids"]

In [45]:
df["encoded_desc"] = encoded_ids

In [57]:
test["encoded"] = encoded_test
test["len_encoded"] = test["encoded"].apply(lambda x: len(x))

In [46]:
df["len_encoded"] = df["encoded_desc"].apply(lambda x: len(x))

In [47]:
df.dtypes

name            object
description     object
encoded_desc    object
len_encoded      int64
descriptions    object
dtype: object

In [96]:
test.sort_values(by="len_encoded", ascending=False).reset_index(drop=True).loc[59, "description"]

'Black crossbody bag. Body with double flap with stud detail and metal piece in gold on the front. Wrist strap. Adjustable and removable shoulder strap. Lined interior with three compartments, one with a zip closure another with a pocket. Height x Length x Width: 18.5 x 21.5 x 7.5 cm. / 7.2 x 8.4 x 2.9″'

In [66]:
zara = pd.read_csv("zara_total5.csv")

In [67]:
'Black laceless sneakers made of technical fabric. The upper is cut from a single piece. Sock-style design. Contrast red pull tab on the heels. Red interior. White chunky soles.' in zara["description"]

False

In [68]:
"SOCK-STYLE SNEAKERS" in zara["name"]

False

In [103]:
df.sort_values(by="len_encoded", ascending=False).reset_index(drop=True).loc[25000, "description"]

'High waist culottes with elastic waist and wide leg. Featuring contrast trims.'

In [52]:
df.sort_values(by="len_encoded", ascending=False).reset_index(drop=True).loc[2, "name"]

'STERLING SILVER CHAIN NECKLACE WITH TAG'

In [9]:
len(encoded_ids)

33613

In [10]:
lens = [len(enc_ids) for enc_ids in encoded_ids]

In [11]:
max(lens)

863

In [12]:
encoded_targets = tokenizer.batch_encode_plus(df["name"].tolist())

In [13]:
encoded_targets_ids = encoded["input_ids"]

In [15]:
max(encoded_targets_ids)

[0,
 48987,
 46482,
 42026,
 4136,
 15155,
 991,
 415,
 19,
 17812,
 32847,
 29,
 4,
 20,
 1468,
 817,
 24,
 32551,
 13319,
 8,
 28126,
 4,
 2]

In [30]:
sum(lens)/len(lens)

36.67164489929492

In [33]:
np.percentile(lens, 99.9)

346.16400000001886

In [16]:
names = df["name"].tolist()

In [17]:
encoded = tokenizer.batch_encode_plus(names)

In [18]:
encoded_ids = encoded["input_ids"]

In [19]:
lens = [len(enc_ids) for enc_ids in encoded_ids]

In [20]:
max(lens)

52

In [21]:
sum(lens)/len(lens)

11.88659149733734

In [23]:
min(lens)

3